<link rel="stylesheet" href="./sass/css/styleProfile.css" />

<div class="base-layout position-relative d-flex justify-content-center w-100 h-auto">
   {{> nav}}

   <div class="content w-100 d-flex gap-0 h-auto pb-4 gap-3">
      <div class="left-side col-3 card rounded-5 rounded-bottom overflow-hidden pb-3">
         <div>
            <div class="bgr-cover d-flex flex-column justify-content-center align-items-center">
                  <div class="profile-avt" data-bs-toggle="dropdown" aria-expanded="false">
                     <img class="d-block big-avt" src="{{ userViewed.avatar }}" alt="" />
                  </div>
            </div>
            <div style="height: 50px;"></div>

            <div class="profile-info px-4">
                  <div><b>{{ userViewed.fullname }}</b> </div>
                  <h5 class="small text-center ">@{{ userViewed.username }}
                     <i class="fa-solid fa-circle-check small " style="color: var( --light-blue);"></i>
                  </h5>

                  <div class="d-flex text-center mt-3 pe-2 gap-2 mb-3 ">

                     <div class="followers d-flex col flex-column justify-content-center ">
                        <span class="small-label">
                        543
                        </span>
                        <span class="small-label">followers</span>
                     </div>
                     <div class="divider"></div>
                     <div class="posts d-flex col flex-column justify-content-center ">
                        <span class="small-label">
                        543
                        </span>
                        <span class="small-label">posts</span>
                     </div>
                     <div class="divider"></div>
                     <div class="following d-flex col flex-column justify-content-center ">
                        <span class="small-label">
                        543

                        </span>
                        <span class="small-label">following</span>
                     </div>
                  </div>
            </div>

         </div>
         <hr class="my-2 mx-3" style="box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px" />

         <div class="bio card-body ">
            <div class="small text-center"><i class="fa-solid fa-location-dot small text-success"></i> 
                  {{ userViewed.location }}
            </div>
            <div class="about-box d-flex    flex-column px-2">

                  <span class="small mt-2">{{ userViewed.about }}</span>

            </div>

         </div>
         <hr class="my-2 mx-3" style="box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px" />
         <div class="card-body overflow-auto d-flex flex-column">

            <div class="d-flex flex-column justify-content-between gap-3 my-2">
                  {{#if (eq userViewed.username user.username)}}
                  <button type="button" class="btn btn-outline-info w-100" data-bs-toggle="modal"
                     data-bs-target="#modalNewPost">
                     New post
                  </button>
                  <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal"
                     data-bs-target="#modalEditProfile">
                     Edit profile
                  </button>
                  {{else}}
                  <button type="button" class="btn btn-outline-info w-100" data-bs-toggle="modal"
                     data-bs-target="#modalNewPost">
                     Follow/Unfollow
                  </button>
                  {{/if}}
            </div>
         </div>

         <hr class="my-2 mx-3" style="box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px" />

         <div class="card-body">
            <div class="list-other-users gap-2">
                  <h5 id="followers-list">Followers</h5>
                  <!-- <div class="user-box d-flex gap-2 pt-2 pb-2 align-items-center">
                     <div class="box-images">
                        <img src="./images/nguyen.png" alt="" />
                     </div>
                     <div class="box-name d-flex flex-column justify-content-center align-items-flex-start">
                        <span><b>Nguyen Hoang</b></span>
                        <span>@nguyenhoang</span>
                     </div>
                     <div class="box-follow">
                        <button type="button" class="btn btn-success w-100">Follow</button>
                     </div>
                  </div> -->
            </div>
         </div>

         <hr class="my-2 mx-3" style="box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px" />

         <div class="card-body">
            <div class="list-other-users gap-2">
                  <h5 id="following-list">Following</h5>
                  <!-- <div class="user-box d-flex gap-2 pt-2 pb-2 align-items-center">
                     <div class="box-images">
                        <img src="./images/nguyen.png" alt="" />
                     </div>
                     <div class="box-name d-flex flex-column justify-content-center align-items-flex-start">
                        <span><b>Nguyen Hoang</b></span>
                        <span>@nguyenhoang</span>
                     </div>
                     <div class="box-follow">
                        <button type="button" class="btn btn-info w-100">Follow</button>
                     </div>
                  </div> -->
            </div>
         </div>
      </div>
{{!-- ----------------------- --}}
      <div class="content-right col-9">
         <div class="header-setting hover-icon action-dot" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-ellipsis"></i>
         </div>

         <ul class="dropdown-menu">
            <li class="d-flex align-items-center px-2 hover-icon">
               <i class="fa-regular fa-flag px-2">
               </i><span class="dropdown-item px-0"> Report user</span>
            </li>

         </ul>
         <div class="image-list p-3">
            <div class="images">


            </div>
         </div>
      </div>
   </div>
   <footer class="footer small">Bookbook team</footer>
</div>
{{> view_post}}
{{> delete_post}}
{{> new_post}}
{{> edit_profile}}

<script type="module" src="./js/profile/profile.js"></script>